root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{csproj,props,targets,xml}]
indent_style = space
indent_size = 2
tab_width = 2

[*.{json,yml,editorconfig}]
indent_style = space
indent_size = 2
tab_width = 2

[*.go]
# Go typically uses tabs for indentation
indent_style = tab

# Go's standard indentation is one tab character
indent_size = 1

# Tab width should be consistent with indent_size
tab_width = 1